.carousel-container {
    width: 100%;
    max-width: 1400px; /* Set a maximum width for the container */
    margin: 0 auto; /* Horizontally center the container */
  }
  
  /* Define media queries for different screen sizes */
  @media (max-width: 768px) {
    .carousel-container {
      max-width: 90%; /* Adjust the maximum width for smaller screens */
    }
  }